body{
    margin: 15px auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    text-align: center;
}

table{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
tr, th, td{
    border: 1px solid;
    width: 60px;
    height: 40px;
}